@import url("https://fonts.googleapis.com/css?family=Varela+Round");

.about {
    margin-left: 200px;
}

.menu {
  display: flex;
  margin: 120px 0 40px 0;
  list-style: none;
}

.menu li {
  width: 125px;
  height: 50px;
  transition: background-position-x 0.9s linear;
  text-align: center;

  a {
    font-size: 22px;
    color:  white;
    text-decoration: none;
    transition: all 0.45s;
  }

  &:hover {
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEi%0D%0AIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhs%0D%0AaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0%0D%0AaD0iMzkwcHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDM5MCA1MCIgZW5hYmxlLWJhY2tn%0D%0Acm91bmQ9Im5ldyAwIDAgMzkwIDUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0i%0D%0Abm9uZSIgc3Ryb2tlPSIjZDk0ZjVjIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGlt%0D%0AaXQ9IjEwIiBkPSJNMCw0Ny41ODVjMCwwLDk3LjUsMCwxMzAsMAoJYzEzLjc1LDAsMjguNzQtMzgu%0D%0ANzc4LDQ2LjE2OC0xOS40MTZDMTkyLjY2OSw0Ni41LDI0My42MDMsNDcuNTg1LDI2MCw0Ny41ODVj%0D%0AMzEuODIxLDAsMTMwLDAsMTMwLDAiLz4KPC9zdmc+Cg==");
    animation: line 2s;
  }

  &:hover a {
    color: #d94f5c;
  }

  &:not(:last-child) {
    margin-right: 30px;
  }
}

@keyframes line {
  0% {
    background-position-x: 390px;
  }
}

.img-car {
    border: 2px solid black;
    width: 550px;
    height: 470px;
    flex: 1;
    background-repeat: no-repeat;
}

.about-content {
    display: flex;
    padding: 20px;
    width: 100%;
    max-width: 1500px;
}

.about-content-right {
    flex: 1;
    font-size: 30px;
    margin-left: 60px;
    width: 160px;
}

.car-info {
  font-size: 30px;
  text-align: left;
  margin-left: 35px;
}

.header-iformation-car {
  font-size: 40px;
  text-align: center;
}

.button-delete-car {
  margin-left: 10px;
}

.p-car {
  padding: 10px;
}

.item-carousel-car {
  padding-top: 15%;
  height: 250px;
  color: #fff;
  text-align: center;
  background: #1B191A;
  font-size: 30px;
  opacity: 0.9;
}

.interaction-with-the-car {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.ant-carousel {
  .slick-next {
    &::before {
      content: '';
    }
  }
  .slick-prev { 
    &::before {
      content: '';
    }
  }
}

.form-add-car-about {
    padding: 20px;
    animation-duration: 2s;
    border-radius: 20px;
    box-shadow: 17px 13px 80px 2px rgba(166, 166, 171, 1);
    background-color: #1A1D1F;
}